---
title: "[<%= data_time %>] <%- title %>"
labels: posts
---

# Hacker News

<%  for(let post of hn_posts) { %>
  <details>
    <summary>
      <strong><%= post.title %></strong>
    </summary>

    <%- post.summary %>

  </details>

  [<%= post.hostname %>](<%- post.url %>) | <%= post.score %> points by [<%= post.by %>](https://news.ycombinator.com/user?id=<%- post.by %>) at <%= post.created %> | [<%= post.descendants %> comments](https://news.ycombinator.com/item?id=<%= post.id %>)

<%  }  %>

# V2EX

<%  for(let post of v2ex_posts) { %>
  <details>
    <summary>
      <strong><%= post.title %></a></strong>
    </summary>
    <%- post.description %>
  </details>
    <p>
    <a href="<%- post.url %>"><%= post.replies %> comments</a> by <a href="<%- post.author_url %>"><%= post.author %></a>
    at <%= post.created %>
    in <a href="<%- post.node_url %>"><%= post.node %></a>
    </p>

<%  }  %>
