<table role="presentation" border="0" cellpadding="0" cellspacing="0">
<caption><h2>V2EX</h2></caption>
<%  for(let post of posts) { %>
<tr>
    <td>
    <hr/>
    <strong><a href="<%- post.url %>"><%= post.title %></a></strong>
    <div class="footer">
    <p>
    <%= post.replies %> comments by <a href="<%- post.author_url %>"><%= post.author %></a>
    at <%= post.created %>
    in <a href="<%- post.node_url %>"><%= post.node %></a>
    </p>
    </div>
    <details>
    <%- post.description %>
    </details>
    </td>
</tr>
<%  }  %>
</table>

<% if (!!git_sha) { %>
<center>
Built With ❤️  by <a href="https://github.com/<%- github_repo %>/tree/<%= github_sha %>"><%- github_repo %></a>
</center>
<%  }  %>
