<table role="presentation" border="0" cellpadding="0" cellspacing="0">
<caption><h2>Hacker News</h2></caption>
<%  for(let post of posts) { %>
<tr>
    <td>
     <details>
    <summary>
    <%= post.title %>
    </summary>
        <%- post.summary_html %>
    </details>

    <div class="footer">
    <p>
    <a href="<%- post.url %>"><%= post.hostname %></a> |
    <%= post.score %> points by <a href="https://news.ycombinator.com/user?id=<%- post.by %>"><%= post.by %></a>
    at <%= post.created %> |
    <a href="https://news.ycombinator.com/item?id=<%= post.id %>"><%= post.descendants %> comments</a>
    </p>
    <hr/>
    </div>

    </td>
</tr>

<%  }  %>

</table>

<% if (!!git_sha) { %>
<center>
Built With ❤️  by <a href="https://github.com/<%- github_repo %>/tree/<%= github_sha %>"><%- github_repo %></a>
</center>
<%  }  %>
